<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

	<!-- 静态资源过滤 -->
	<mvc:resources location="/res/" mapping="/res/**" />
	
	<!-- 规约所有进行扫描的类，以完成Controller Bean创建和自动依赖注入的功能 -->
	<context:component-scan base-package="com.dj.test.web"/>

	<!-- 支持注解 -->
	<mvc:annotation-driven conversion-service="conversionService" />

	<!-- class:必须是Spring提供的 格式化转换器Bean工厂 -->
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
	</bean>

	<!-- JSP视图解析器 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/page/" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="1" />
	</bean>

	<!-- 上传文件解析器 -->
	<bean id = "multipartResolver" class = "org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		<!-- 上传文件的最大尺寸为3MB -->
		<property name="maxUploadSize" value="31457280" />
		<!-- 缓存区域 -->
		<property name="maxInMemorySize" value="4096" />
	</bean>
</beans>